<a href="https://colab.research.google.com/github/sagsshakya/Machine-Learning/blob/master/Nachine%20Learning%20LAB/Q15_Multiple_Linear_Regresssion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Q15. Multiple Linear Regresssion.
### Probem Statement:
    Consider a dataset with p features ( or independent variables) and one response (or dependent variable). Also the dataset contains n rows/observations.   
        a.Find the regression line using multiple linear regression. 
        b.Find the residual error of ith observation.

# Importing necessary libraries.

In [1]:
import numpy as np
import pandas as pd

In [3]:
# Constructing the dataset manually.
from sklearn.datasets import make_regression
X, Y = make_regression(n_samples = 500,
                       n_features = 5,
                       n_informative = 5,
                       n_targets = 1,
                       noise = 0.1, 
                       random_state = 100)

          A         B         C         D         E      target
0  1.569733 -1.192708  0.905906 -0.966887 -0.110338  -36.527279
1 -0.147940 -1.117347 -0.919339  0.499645 -1.645060 -197.907221
2  0.679138  0.521998  0.563949  1.077804 -0.058190  100.414544
3 -1.664510  0.492562 -0.104052 -0.384656  0.075302  -41.315855
4 -1.204723  1.635914  2.929661  0.826368  1.024964  194.881716

# Part 1: Model Training using Linear Regression.

In [10]:
from sklearn.linear_model import LinearRegression
linreg = LinearRegression()
linreg.fit(X, Y)
Y_pred = linreg.predict(X)

In [14]:
print('Intercept = ',linreg.intercept_.round(3))
print('Weights = ',linreg.coef_.round(3))

Intercept =  0.005
Weights =  [47.983 86.044 14.339 16.773 54.532]

In [16]:
# Performance measure.
from sklearn.metrics import mean_squared_error, mean_absolute_error

print('Mean Squared Error = ', round(mean_squared_error(Y, Y_pred), 3))
print('Root Mean Squared Error = ', round(mean_squared_error(Y, Y_pred, squared = False), 3))
print('Mean Absolute Error = ', round(mean_absolute_error(Y, Y_pred), 3))

Mean Squared Error =  0.009
Root Mean Squared Error =  0.096
Mean Absolute Error =  0.076

# Part 2: Residual Error.

In [19]:
df = pd.concat([pd.DataFrame(X), pd.DataFrame(Y)],
               ignore_index=True, axis = 1)

df.columns = list('ABCDE') + ['target']
df['predictions'] = Y_pred
df['residuals'] = Y - Y_pred
df.head(3)

          A         B         C  ...      target  predictions  residuals
0  1.569733 -1.192708  0.905906  ...  -36.527279   -36.544744   0.017465
1 -0.147940 -1.117347 -0.919339  ... -197.907221  -197.743839  -0.163382
2  0.679138  0.521998  0.563949  ...  100.414544   100.498737  -0.084193

[3 rows x 8 columns]